* {
    text-decoration: none;
    list-style: none;

}

:root {
  --main-color: #000000;
  --accent-color: #2196F3;
  --text-color: #212121;
  --text-color-two: #757575;
  --color-white: #FFFFFF;
  --bg-color-hero: #2F303A;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --bg-color-filter: #F5F4FA;
  --header-border-color: #ECECEC;
  --socials-icon-fill:#AFB1B8;
  --bg-color-activity: rgba(47, 48, 58, 0.8);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}
.container.header {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.logo {
    color: var(--main-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-accent {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

nav {
    margin-left: 93px;
}


.nav-list {
    display: flex;
    gap: 53px;
    padding-left: 0;
}

.nav-link {
    color: var(--text-color);
}

.nav-link::after {
    display: inline-block;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.nav-link.nomargin {
    margin-right: 0;
}


.nav-link:focus, .nav-link:hover {
    color: var(--accent-color); 
}

.header-contakts {
    margin-left: auto;
}

.header-contakts:hover {
    
}

.header-container {
    display: inline-flex;
    justify-content: center;
}

.header-mail, .header-tel {
    display: inline-flex;
    align-items: center;
    color: var(--text-color-two); 
}

.mail-icon {
    margin-right: 10px;
    fill: var(--text-color-two);
}

.mail-icon:hover {
    fill: var(--accent-color);
}


.header-tel {
    margin-left: 40px;
}

.tel-icon {
    margin-right: 10px;
    fill: var(--text-color-two);
}

.tel-icon:hover {
    fill: var(--accent-color);
}

.header-mail:focus, .header-tel:focus, .header-mail:hover, .header-tel:hover {
    color: var(--accent-color); 
    fill: var(--accent-color);
}

.hero.section {
    padding: 200px 0;
}

.hero {
    background: var(--bg-color-hero);
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./image/project/hero-image.jpg);
}   
    

.hero-title {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-white);
    padding: 10px 32px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.advantages-pretitle {
    display: none;
}

.advantages-list {
    display: flex;
}

.advantages-list li {
    width: calc((100%-90px) /4);
}

.antenna-icon {
    padding: 25px 102px;
    margin-bottom: 30px;
    background-color: var(--bg-color-filter);
}

.clock-icon {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--bg-color-filter);
}

.diagram-icon {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--bg-color-filter);
}

.astronaut-icon {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--bg-color-filter); 
}

.advahtages-title {
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}


.advantages-text {
margin: 0;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-two);
}

.activity.container {
    padding-top: 0;
}

.activity-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 0; 
}

.activity-box {
    position: relative;

}

.activity-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color:var(--bg-color-activity);
    width: 100%;
    padding: 27px 0;
    margin: 0;
    position: absolute;
    bottom: 4px;
}

.activity-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
}

.team.container {
    background-color: var(--bg-color-filter);
    min-width: 1600px;
}

.team-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 30px;
    margin: 0;
}

.team-item {
background: var(--color-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team li {
    text-align: center;
}

.team-pretitle {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-text {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color-two)
}

.social-list {
    display: flex;
    margin: 0 32px 30px;
    padding-left: 0;
    justify-content: space-between;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    background-color: var(--accent-color);
    fill: var(--color-white);
}

.social-insta {
    fill: var(--socials-icon-fill);
}

.social-insta:hover {
    fill: var(--color-white);
}

.social-twitter {
    fill: var(--socials-icon-fill);
} 

.social-twitter:hover {
    fill: var(--color-white);
}

.social-face {
    fill: var(--socials-icon-fill);
}

.social-face:hover {
    fill: var(--color-white);
}

.social-linkedin {
    fill: var(--socials-icon-fill);
}

.social-linkedin:hover {
    fill: var(--color-white);
}

.social-list.modification {
    margin: 0;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0 0 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.clients-list li:hover {
    fill: var(--accent-color);
    border-color: #2196F3;
}


.clients-one {
    padding: 23px 65px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--socials-icon-fill);
}

.clients-one:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}



.clients-two {
    padding: 20px 65px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--socials-icon-fill);
}

.clients-two:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.clients-three {
    padding: 25px 63px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--socials-icon-fill);
}

.clients-three:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.clients-four {
    padding: 25px 43px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--socials-icon-fill);
}

.clients-four:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.clients-five {
    padding: 23px 53px;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    fill: var(--socials-icon-fill);
}

.clients-five:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.clients-six {
    padding: 23px 38px;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    fill: var(--socials-icon-fill);
    
}

.clients-six:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.footer-box {
    display: flex;
}

.footer-bag {
    margin-left: 70px;
    margin-top: 12px;
}

.footer-box.container {
    padding: 0;
}

.footer {
    background: var(--bg-color-hero); 
}

.footer.section {
    padding: 60px 0;
}

.footer.container {
    padding: 0;
}

.logo.special {
    color: var(--color-white);
}

.footer-logo {
    margin: 0 0 28px 0;
}

.footer-adress {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-white);

}

.footer-mail, .footer-tel {
    display: block;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
}

.footer-mail {
    margin-bottom: 12px;
}

.footer-title {
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}

.bg {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.bg:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.bg:last-child {
    margin-right: 0;
}

.social-insta.white {
    fill: var(--color-white);
}

.social-twitter.white {
    fill: var(--color-white);
}

.social-face.white {
    fill: var(--color-white);
}

.social-linkedin.white {
    fill: var(--color-white);
}



/* страница портфолио */

.header-border {
    border-bottom: 1px solid var(--header-border-color);
}

.container.bar {
    padding-bottom: 50px;
}

.projekts.container {
    padding-top: 0;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: var(--bg-color-filter);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.filter:hover, .filter:focus {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-white);
}

.projekts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 50px auto 0;
}

.projekts-list li {
    background: var(--color-white);
    border: 1px solid #EEEEEE;
}

.projekts-title {
    margin: 20px 24px 4px;
}

.projekts-text {
    margin: 0 24px 20px;
}

