* {
    text-decoration: none;
    list-style: none;

}

:root {
  --main-color: #000000;
  --accent-color: #2196F3;
  --text-color: #212121;
  --text-color-two: #757575;
  --color-white: #FFFFFF;
  --bg-color-hero: #2F303A;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --bg-color-filter: #F5F4FA;
  --header-border-color: #ECECEC;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}
.container.header {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.logo {
    color: var(--main-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-accent {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

nav {
    margin-left: 93px;
}


.nav-list {
    display: flex;
    padding-left: 0;
}

.nav-link {
    margin-right: 50px;
    color: var(--text-color);
}

.nav-link.nomargin {
    margin-right: 0;
}


.nav-link:focus, .nav-link:hover {
    color: var(--accent-color); 
}

.header-contakts {
    margin-left: auto;
}

.header-container {
    display: inline-flex;
    justify-content: center;
}

.header-mail, .header-tel {
    display: inline-flex;
    align-items: center;
    color: var(--text-color-two); 
}

.header-mail::before {
    display: inline-flex;
    content: '';
    width: 16px;
    height: 12px;
    background-image: url(./image/envelope.svg);
    background-repeat: no-repeat;
    margin-right: 10px;
}

.header-tel {
    margin-left: 40px;
}

.header-tel::before {
    display: inline-flex;
    content: '';
    width: 10px;
    height: 16px;
    background-image: url(./image/smartphone.svg);
    margin-right: 10px;
}

.header-mail:focus, .header-tel:focus, .header-mail:hover, .header-tel:hover {
    color: var(--accent-color); 
}

.hero.section {
    padding: 200px 0;
}

.hero {
    background: var(--bg-color-hero);
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./image/project/hero-image.jpg);
}   
    

.hero-title {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-white);
    padding: 10px 32px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.advantages-pretitle {
    display: none;
}

.advantages-list {
    display: flex;
}

.advantages-list li {
    width: calc((100%-90px) /4);
}

.advahtages-title::before {
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    background-image: url(./image/team/antenna.svg);
    background-color: var(--bg-color-filter);
    padding: 25px 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advahtages-title.clock::before {
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    background-image: url(./image/team/clock.svg);
    background-color: var(--bg-color-filter);
    padding: 25px 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advahtages-title.diagram::before {
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    background-image: url(./image/team/diagram.svg);
    background-color: var(--bg-color-filter);
    padding: 25px 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advahtages-title.astronaut::before {
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    background-image: url(./image/team/astronaut.svg);
    background-color: var(--bg-color-filter);
    padding: 25px 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advahtages-title {
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}


.advantages-text {
margin: 0;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-two);
}

.activity.container {
    padding-top: 0;
}

.activity-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
   
}

.activity-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 30px;
    margin: 0;
}

.team-list li {
background: var(--color-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team li {
    text-align: center;
}

.team-pretitle {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color-two)
}

.footer {
    background: var(--bg-color-hero); 
}

.footer.section {
    padding: 60px 0;
}

.footer.container {
    padding: 0;
}

.logo.special {
    color: var(--color-white);
}

.footer-logo {
    margin: 0 0 28px 0;
}

.footer-adress {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-white);

}

.footer-mail, .footer-tel {
    display: block;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
}

.footer-mail {
    margin-bottom: 12px;
}

/* страница портфолио */

.header-border {
    border-bottom: 1px solid var(--header-border-color);
}

.container.bar {
    padding-bottom: 50px;
}

.projekts.container {
    padding-top: 0;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: var(--bg-color-filter);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.filter:hover, .filter:focus {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-white);
}

.projekts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 50px auto 0;
}

.projekts-list li {
    background: var(--color-white);
    border: 1px solid #EEEEEE;
}

.projekts-title {
    margin: 20px 24px 4px;
}

.projekts-text {
    margin: 0 24px 20px;
}

